<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydgk.dao.UserMapper">
    <!--Employee getEmployeeId(Integer id);-->
    <select id="findUserById" resultType="com.ydgk.beans.User">
        select * from user where id=#{id}
    </select>
    <insert id="insertUser" parameterType="com.ydgk.beans.User">
        insert into user (name,password) values (#{name},#{password})
    </insert>
    
    <delete id="batchDelete">
        delete from user where id IN 
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryUserByAjax" resultType="com.ydgk.beans.User">
        SELECT * FROM user
        <if test="likeName!=null and likeName != ''">
            <where>
                AND name like concat('%',#{likeName},'%')
            </where>
        </if>
        LIMIT #{start} , #{pageSize}
    </select>

    <update id="updateUserType">
        update user set type=#{type} where id=#{id}
    </update>
</mapper>